<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Bootstrap CSS -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/folders/css/main.css">
    <!-- <link rel="stylesheet" href="/folders/css/sass.sass"> -->
    <link rel="stylesheet" href="/folders/css/isLoader.css">
    <link rel="icon" href="/folders/image/logoSite.png">
    <link rel="icon" href="/folders/image/logoSite.png" type="image/png" />
    <link rel="icon" href="/folders/image/logoSite.png" type="image/png" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"> -->
    <!-- disabel auto zoom -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <!-- jquery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- <meta name="format-detection" content="telephone=no"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <title>خدمات گردشگری آهوان</title>
    <link rel="stylesheet" href="/folders/css/datepicker.css">
    <link rel="stylesheet" href="/folders/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="/folders/slick/slick-theme.css" />
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <style>
      .hoverCard:hover{
        box-shadow: 0 0 15px rgb(153, 153, 153);
      }

      .hoverCard .tourImage{
        transition: all 500ms;
      }
      
      .hoverCard:hover .tourImage{
        width: 105%;
        height: 105%;
      }
    </style>
  </head>
  <body>
    <!-- header -->
    <!-- main page -->
    <!-- image slider and hotel tab -->
    <div v-cloak id="tour">
      <v-app>
        <div class="headerDiv " v-cloak style="top: 0;right:0">
          <div id="header" v-cloak class="widthAll fixed" style="top: 0;right:0;z-index: 99;">
            <v-row class="header grey lighten-3" justify="center">
              <div class=" indexDiv pa-1 pa-sm-3 pb-0">
                <a href="https://ahuan.ir"><img height="20px" src="/folders/image/logo-header.png" alt="صفحه اصلی" ></a>
                <span class="headerSpan .v-application .body-2 d-none d-sm-inline-block">رزرو آنلاین خدمات گردشگری</span>
                <v-icon class="mr-2 float-left d-none d-sm-inline-block">
                  mdi-phone-in-talk
                </v-icon>
                <span class="ml-3 ml-sm-0 headerText float-left grey--text text--darken-3">
                  <a href="tel:02141889" class="grey--text text--darken-3 text-decoration-none">021-41889</a>
                </span>
              </div>
            </v-row>
            <v-row class="white top-bar " justify="center" align="center">
              <div class="indexDiv">
                <v-row align="center">
                  <v-col cols="6" sm="9" md="8" class="py-0 pt-sm-3 px-2 px-sm-0 headerButtons ">
                    <v-row class="d-none d-sm-block pr-4">
                      <v-skeleton-loader class="textLoader d-inline-block"
                        type="chip"
                        :loading="isLoading"
                      >
                        <!-- <a class="text-decoration-none" href="/folders/flight.html"> -->
                        <a class="text-decoration-none" >
                          <span class="ml-2 ml-md-3 ml-lg-5 mb-2 mb-0 ">پرواز</span>
                        </a>
                      </v-skeleton-loader>
                      <v-skeleton-loader class="textLoader d-inline-block"
                        type="chip"
                        :loading="isLoading"
                      >
                        <span class="ml-2 ml-md-3 ml-lg-5 mb-2 mb-0">هتل</span>
                      </v-skeleton-loader>
                      <v-skeleton-loader class="textLoader d-inline-block"
                        type="chip"
                        :loading="isLoading"
                      >
                        <span class="ml-2 ml-md-3 ml-lg-5 mb-2 mb-0">تور</span>
                      </v-skeleton-loader>
                      <v-skeleton-loader class="textLoader d-inline-block"
                        type="chip"
                        :loading="isLoading"
                      >
                        <span class="ml-2 ml-md-3 ml-lg-5 mb-2 mb-0">هتل آهوان</span>
                      </v-skeleton-loader>
                      <v-skeleton-loader class="textLoader d-inline-block"
                        type="chip"
                        :loading="isLoading"
                      >
                        <span class="ml-2 ml-md-3 ml-lg-5 mb-2 mb-0">اتوبوس</span>
                      </v-skeleton-loader>
                      <v-skeleton-loader class="textLoader d-inline-block"
                        type="chip"
                        :loading="isLoading"
                      >
                        <span class="ml-2 ml-md-3 ml-lg-5 mb-2 mb-0">قطار</span>
                      </v-skeleton-loader>
                      <v-skeleton-loader class="textLoader d-inline-block"
                        type="chip"
                        :loading="isLoading"
                      >
                        <span class="ml-2 ml-md-3 ml-lg-5 mb-2 mb-0">بیمه</span>
                      </v-skeleton-loader>
                        <span v-if="!isLoading" class="ml-2 ml-md-3 ml-lg-5 mb-2 mb-0">مجله گردشگری</span>
                        <span v-if="!isLoading" class="ml-2 ml-md-3 ml-lg-5 mb-2 mb-0">شرکت ها</span>
                    </v-row>
                    <v-row class="d-block d-sm-none humberger-header-menue">
                      <v-app-bar-nav-icon @click.stop="showMenuSmall = !showMenuSmall" style="z-index:1"></v-app-bar-nav-icon>
                      <v-navigation-drawer
                        v-model="showMenuSmall"
                        fixed
                        right
                        temporary style="z-index:2;top: 82px ;"
                      >
                        <v-list
                          nav
                          dense
                        >
                          <v-list-item-group v-model="activePage"
                            active-class="red--text text--accent-4 "
                          >
                            <a href="" class="text-decoration-none">
                            <v-list-item @click="showMenuSmall = false">
                              <v-icon class="ml-2">mdi-airplane</v-icon>
                              <v-list-item-title>
                                پرواز
                              </v-list-item-title>
                            </v-list-item></a>
                  
                            <v-list-item @click="showMenuSmall = false">
                              <v-icon class="ml-2">mdi-sofa-single</v-icon>
                              <v-list-item-title>هتل</v-list-item-title>
                            </v-list-item>
                  
                            <v-list-item @click="showMenuSmall = false">
                              <v-icon class="ml-2">mdi-account-group</v-icon>
                              <v-list-item-title>تور</v-list-item-title>
                            </v-list-item>
                  
                            <v-list-item @click="showMenuSmall = false">
                              <v-icon class="ml-2">mdi-hospital-building</v-icon>
                              <v-list-item-title>هتل آهوان</v-list-item-title>
                            </v-list-item>
                            <v-list-item @click="showMenuSmall = false">
                              <v-icon class="ml-2">mdi-bus</v-icon>
                              <v-list-item-title>اتوبوس</v-list-item-title>
                            </v-list-item>
                            <v-list-item @click="showMenuSmall = false">
                              <v-icon class="ml-2">mdi-train-variant</v-icon>
                              <v-list-item-title>قطار</v-list-item-title>
                            </v-list-item>
                            <v-list-item @click="showMenuSmall = false">
                              <v-icon class="ml-2">mdi-checkbook</v-icon>
                              <v-list-item-title>بیمه</v-list-item-title>
                            </v-list-item>
                            <v-list-item @click="showMenuSmall = false">
                              <v-icon class="ml-2">mdi-book-open-page-variant</v-icon>
                              <v-list-item-title>مجله گردشگری</v-list-item-title>
                            </v-list-item>
                            <v-list-item @click="showMenuSmall = false">
                              <v-icon class="ml-2">mdi-sitemap</v-icon>
                              <v-list-item-title>شرکت ها</v-list-item-title>
                            </v-list-item>
                          </v-list-item-group>
                        </v-list>
                      </v-navigation-drawer>
                    </v-row>
                  </v-col>
                  <v-col cols="6" sm="3" md="4" class="pa-1">
                    <v-row justify="end" align="center">
                      <v-skeleton-loader class="textLoader d-inline-block " :class="isLoading && 'mt-2'"
                        type="chip"
                        :loading="isLoading"
                      >
                        <div v-if="isLogin" class="cursorPointer" @click="logOut">
                          <span class="font-14 grey--text d-inline-block ml-4">
                          {{userName}}         
                          </span>
                        </div>
                        <div v-else class="cursorPointer" @click="loginDialog = true;loginStep=1;resetLoginForm()">
                          <v-icon large class="icon-small-xs ml-3 ml-sm-0">
                            mdi-account-outline
                          </v-icon>
                          <span class="font-14 grey--text d-none d-sm-inline-block ">
                            ورود - ثبت نام      
                          </span>
                        </div>
                      </v-skeleton-loader>       
                    </v-row>
                  </v-col>
                </v-row>
              </div>
            </v-row> 
          </div>
          <v-dialog v-if="loginDialog" class="rounded-lg loginDialog"
            v-model="loginDialog"
            style="z-index: 9999999999998"
            width="450"
          >
            <v-card class="pa-2 hideOver relative" style="border-radius: 10px;">
              <div class="rounded-xl absolute grey lighten-4" style="height: 50px;width:50px;bottom:20px;right: -20px;"></div>
              <div class="rounded-circle absolute red lighten-5" style="height: 50px;width:50px;top:-20px;left: -20px;"></div>
              <div class="rounded-xl absolute grey lighten-4" style="height: 45px;width: 106px;bottom: -38px;right: 50%;"></div>
              <v-icon class="absolute black--text" @click="loginDialog = false" style="top: 5px;right: 5px;">mdi-close</v-icon>
              <div class="my-6">
                <h3 v-if="loginStep == 2 && UserType == 1 " class="text-center ">
                  تایید شماره موبایل
                </h3>
                <h3 v-else-if="(loginType == 'login' && loginStep != 3) && (UserType == 1 && loginStep == 1 && loginType == 'login')  || (UserType == 2 && loginStep == 1 && loginType == 'login')" class="text-center mt-6">
                  ورود به حساب کاربری
                </h3>
                <h4 v-else-if="loginStep != 3 && UserType == 1 || (UserType == 2 && loginStep == 1 && loginType == 'register')" class="text-center mt-6">
                  ثبت نام در سایت گردشگری آهوان
                </h4>
                <span v-if="showAlert" class="widthAll text-center d-block caption mt-2" :class="alertType == 'error' ? 'red--text' : 'green--text'" style="font-family: Byekan !important;">{{ alertText }}</span>
              </div>
              <v-row v-if="loginStep == 1" justify="center">
                <div class="grey lighten-4 my-6 rounded-lg hideOver body-2" style="width:240px;font-family: Byekan !important;">
                  <v-row>
                    <v-col class="py-3 text-center cursorPointer text-center " @click="UserType = 1" :class="UserType == 1 && 'red lighten-5'">
                      <h4 :class="UserType == 1 ? 'red--text' : 'grey--text text--darken-1' ">
                        مسافر
                      </h4>
                    </v-col>
                    <v-col class="py-3 text-center cursorPointer " @click="UserType = 2" :class="UserType == 2 && 'red lighten-5'">
                      <h4 :class="UserType == 2 ? 'red--text' : 'grey--text text--darken-1' ">
                        شرکت
                      </h4>
                    </v-col>
                  </v-row>
                </div>
              </v-row>
              <v-row v-if="loginStep == 1" justify="center">
                <v-form
                  ref="loginForm"
                  lazy-validation
                >
                <div v-if="UserType == 1">
                  <v-text-field v-if="loginType == 'register'" outlined class="mt-2 rounded-xl" append-icon="mdi-account-outline" v-model='loginForm.name' label="نام" :rules="nameRules"></v-text-field>
                  <v-text-field v-if="loginType == 'register'" outlined class="mt-1 rounded-xl" append-icon="mdi-account-outline" v-model='loginForm.family' label="نام خانوادگی" :rules="familyRules"></v-text-field>
                  <v-text-field outlined  class="mt-1 rounded-xl" label="موبایل" pattern="\d*" type="number" append-icon="mdi-phone" v-model='loginForm.phone' :rules="phoneRules"></v-text-field>
                </div>
                <div v-if="UserType == 2 && loginType == 'login'"  style="width:240px;">
                  <v-row>
                    <v-text-field outlined class="mt-2 rounded-xl" append-icon="mdi-mail" v-model='loginForm.mail' label="ایمیل" :rules="emailRules"></v-text-field>
                    <v-text-field outlined class="mt-1 rounded-xl" type="number" append-icon="mdi-phone" pattern="\d*" v-model='loginForm.phone' label="موبایل" :rules="phoneRules"></v-text-field>
                    <v-text-field outlined class="mt-1 rounded-xl" type="password" append-icon="mdi-star" v-model='loginForm.password' label="رمزعبور" :rules="emptyRules"></v-text-field>
                  </v-row>
                </div>
                <div v-if="UserType == 2 && loginType == 'register'" style="width:240px;">
                  <v-row>
                    <v-text-field outlined class="mt-2 rounded-xl" append-icon="mdi-account-outline" v-model='loginForm.name' label="نام نماینده" :rules="nameRules"></v-text-field>
                    <v-text-field outlined class="mt-1 rounded-xl" append-icon="mdi-account-outline" v-model='loginForm.family' label="نام خانوادگی نماینده" :rules="familyRules"></v-text-field>
                    <v-text-field outlined class="mt-1 rounded-xl" append-icon="mdi-account-group" v-model='loginForm.companeyName' label="نام شرکت یا آژانس" :rules="emptyRules"></v-text-field>
                    <v-select
                      v-model="loginForm.companeyWork"
                      :items="companeyWorkItems"
                      :rules="emptyRules" outlined
                      class="mt-2 rounded-xl" append-icon="mdi-semantic-web"
                      label="حوضه فعالیت شرکت"
                    ></v-select>
                    <v-text-field outlined class="mt-1 rounded-xl" type="number" append-icon="mdi-numeric" v-model='loginForm.code' pattern="\d*" label="کد ثبت شرکت" :rules="emptyRules"></v-text-field>
                    <v-text-field outlined class="mt-1 rounded-xl" type="number" append-icon="mdi-phone" v-model='loginForm.phone' pattern="\d*" label="شماره موبایل نماینده" :rules="phoneRules"></v-text-field>
                    <v-text-field outlined class="mt-1 rounded-xl" append-icon="mdi-mail" v-model='loginForm.mail' label="آدرس ایمیل شرکت" :rules="emailRules"></v-text-field>
                    <v-text-field outlined class="mt-1 rounded-xl" type="password" append-icon="mdi-star" v-model='loginForm.password' label="رمزعبور" :rules="emptyRules"></v-text-field>
                  </v-row>
                </div>
                </v-form>
              </v-row>
              <v-row v-if="loginStep == 2 && UserType != 2 " justify="center">
                <v-form
                  ref="loginOtpForm"
                  lazy-validation
                >
                  <span class="body-2 text-center d-block" style="font-family: Byekan !important;">کد 4 رقمی ارسال شده بر روی شماره موبایل را لطفا وارد نمایید.</span>
                  <div class="mb-2 mt-4 px-12">
                    <v-otp-input pattern="\d*" v-model="loginForm.otp" class="mx-6 mx-md-12"
                      length="4"
                    ></v-otp-input>
                  </div>
                </v-form>
              </v-row>
              <v-row v-if="loginStep == 3 || (UserType == 2 && loginType == 'register' && loginStep == 2) || (UserType == 2 && loginStep == 2)" justify="center">
                <img class="my-6" src="/folders/image/success.png" alt="" width="130px">
                <h5 v-if="UserType == 2 && loginType == 'register'" class="green--text text--darken-2 my-3 text-center d-block">اطلاعات شما با موفقیت دریافت شد.لطفا منتظر تایید باشید.</h5>
                <h4 v-else class="green--text text--darken-2 my-3 widthAll text-center">عملیات ورود با موفقیت انجام شد.</h4>
              </v-row>
              <v-row justify="center">
                <span v-if="resendSeconds != 0 && loginStep == 2 && UserType == 1" class="body-2 text-center mb-2 widthAll text-center" style="font-family: Byekan !important;">امکان ارسال مجدد تا {{resendSeconds}} ثانیه دیگر</span>
                <div class="widthAll">
                  <v-row justify="center">
                    <div v-if="resendSeconds == 0 && loginStep == 2 && UserType == 1" @click="resendSeconds = 60" class="body-2 blue--text text--darken-2 text-decoration-underline mb-3 cursorPointer d-inline-block mx-auto" style="font-family: Byekan !important;" >ارسال مجدد کد</div>
                  </v-row>
                </div>
                <span v-if="loginType == 'login' && loginStep == 1" class="body-2 text-center widthAll my-4" style="font-family: Byekan !important;">
                  قبلا ثبت نام نکرده اید؟
                  <span @click="loginType = 'register'" class=" blue--text text--darken-2 cursorPointer" style="text-decoration: underline;">ثبت نام</span>
                </span>
                <span v-if="loginType == 'login' && loginStep == 2 && UserType != 2" class="body text-center widthAll grey--text text--darken-1" style="font-family: Byekan !important;">
                  {{loginForm.phone}}
                  <span @click="loginStep = 1" v-if="UserType == 1" class="blue--text text--darken-2 cursorPointer" style="text-decoration: underline;">تغییر شماره</span>
                </span>
                <span v-else-if="loginType != 'login' && loginStep == 1" class="body-2 text-center widthAll my-4" style="font-family: Byekan !important;">
                  قبلا ثبت نام کرده اید؟
                  <span @click="loginType = 'login'" class=" blue--text text--darken-2 cursorPointer" style="text-decoration: underline;">وارد شوید</span>
                </span>
                <v-btn v-if="loginStep == 1 || ( loginStep ==2 && UserType == 1)" :disabled="loginStep == 2 && loginForm.otp.length < 4 " @click="loginOrRegisterValidate()" dark class="widthAll red my-4 rounded-xl py-7 mt-1" style="width: 55%;">
                  {{(UserType == 2 && loginType == 'login' ||( loginStep == 2 && UserType == 1)) ? 'ورود' : 'مرحله بعدی'}}
                </v-btn>
              </v-row>
            </v-card>
          </v-dialog>
        </div>
        <div class="mt-12 pt-12" style="min-height: 80vh;">
          <v-row justify="center">
            <div class="my-6 indexDiv">
              <v-row justify="center">
                <div class="mx-12 widthAll">
                  <h3>تور های دبی نوروز <span class="red--text">1402</span></h3>
                </div>
                <div class="mx-12 mt-6 pa-2 widthAll white rounded-lg d-inline-block hoverCard">
                  <v-row >
                    <v-col cols="12" sm="6" lg="3">
                      <v-row justify="center" class="rounded-lg hideOver">
                        <div style="height:100px;width:250px">
                          <img class="rounded-lg tourImage" src="/folders/image/tour/dobai-1.jpg" height="100%" width="100%">
                        </div>
                      </v-row>
                    </v-col>
                    <v-col cols="12" sm="6" lg="3">
                      <v-row justify="center">
                        <h4 class="" style="font-family:Byekan !important" >دبی - 3 شب و 4 روز</h4>
                      </v-row>
                      <v-row justify="center" class="mt-1 mt-sm-3">
                        <img src="/folders/image/tour/airtour-logo.jpg" width='40' alt="">
                        <img src="/folders/image/tour/gheshm-logo.jpg" width='80' alt="">
                        <img src="/folders/image/tour/mahan-logo.jpg" width='60' alt="">
                      </v-row>
                      <v-row justify="center">
                        <span class="body-2 mt-2 mt-sm-3" style="font-family:Byekan !important">روز های پرواز: همه روزه</span>
                      </v-row>
                    </v-col>
                    <div class="d-block d-sm-none widthAll px-12 mx-1">
                      <v-divider class="d-block d-sm-none mx-12 my-1" ></v-divider>
                    </div>
                    <v-divider class="d-none d-lg-block my-6" vertical></v-divider>
                    <v-col cols="12" sm="6" lg="3">
                      <v-row justify="center" class="mt-sm-4">
                        هتل های 3 و 4 و 5 ستاره
                      </v-row>
                      <v-row justify="center" class="mt-1 mt-sm-4">
                        <span class="caption grey--text text--darken-3 " style="font-family:Byekan !important">شروع قیمت از  12.900.000 تومان</span>
                      </v-row>
                    </v-col>
                    <div class="d-block d-sm-none widthAll px-12 mx-1">
                      <v-divider class="d-block d-sm-none mx-12 my-1" ></v-divider>
                    </div>
                    <v-divider class="d-none d-sm-block my-6" vertical></v-divider>
                    <v-col cols="12" sm="6" lg="3">
                      <v-row justify='center' class="mb-2" align=center>
                        <img src="/folders/image/tour/dxb-3-4.jpg" alt="">
                      </v-row>
                      <v-row justify='center'>
                        <a href="" class="text-decoration-none">
                          <v-btn color="red" dark>مشاهده جزئیات</v-btn>
                        </a>
                      </v-row>
                    </v-col>
                  </v-row>
                </div>
                <div class="mx-12 mt-6 pa-2 widthAll white rounded-lg d-inline-block hoverCard">
                  <v-row >
                    <v-col cols="12" sm="6" lg="3">
                      <v-row justify="center" class="rounded-lg hideOver">
                        <div style="height:100px;width:250px">
                          <img class="rounded-lg tourImage" src="/folders/image/tour/dobai-2.jpg" height="100%" width="100%">
                        </div>
                      </v-row>
                    </v-col>
                    <v-col cols="12" sm="6" lg="3">
                      <v-row justify="center">
                        <h4 class="" style="font-family:Byekan !important" >دبی - 4 شب و 5 روز</h4>
                      </v-row>
                      <v-row justify="center" class="mt-1 mt-sm-3">
                        <img src="/folders/image/tour/airtour-logo.jpg" width='40' alt="">
                        <img src="/folders/image/tour/gheshm-logo.jpg" width='80' alt="">
                        <img src="/folders/image/tour/mahan-logo.jpg" width='60' alt="">
                      </v-row>
                      <v-row justify="center">
                        <span class="body-2 mt-2 mt-sm-3" style="font-family:Byekan !important">روز های پرواز: همه روزه</span>
                      </v-row>
                    </v-col>
                    <div class="d-block d-sm-none widthAll px-12 mx-1">
                      <v-divider class="d-block d-sm-none mx-12 my-1" ></v-divider>
                    </div>
                    <v-divider class="d-none d-lg-block my-6" vertical></v-divider>
                    <v-col cols="12" sm="6" lg="3">
                      <v-row justify="center" class="mt-sm-4">
                        هتل های 3 و 4 و 5 ستاره
                      </v-row>
                      <v-row justify="center" class="mt-1 mt-sm-4">
                        <span class="caption grey--text text--darken-3 " style="font-family:Byekan !important">شروع قیمت از  14.100.000 تومان</span>
                      </v-row>
                    </v-col>
                    <div class="d-block d-sm-none widthAll px-12 mx-1">
                      <v-divider class="d-block d-sm-none mx-12 my-1" ></v-divider>
                    </div>
                    <v-divider class="d-none d-sm-block my-6" vertical></v-divider>
                    <v-col cols="12" sm="6" lg="3">
                      <v-row justify='center' class="mb-2" align=center>
                        <img src="/folders/image/tour/dxb-4-5.jpg" alt="">
                      </v-row>
                      <v-row justify='center'>
                        <a href="" class="text-decoration-none">
                          <v-btn color="red" dark>مشاهده جزئیات</v-btn>
                        </a>
                      </v-row>
                    </v-col>
                  </v-row>
                </div>
              </v-row>
            </div>
          </v-row>
        </div>
        <!-- loading -->
        <div v-if="isLoading || isLoadingAxios" class="widthAll heightAll d-flex fixed align-center justify-center" style="z-index:9998 ;top:0;right:0;background:#00000048">
          <img src="/folders/image/logo-header.png" class="white pa-12 rounded-xl" alt="">
        </div>
        <!-- alert -->
        <v-alert v-if="showAlert && (loginStep == 1) || (loginStep == 2 && UserType==1)" dark class="white--text fixed" 
          :type="alertType" style="z-index:9999;bottom: 0;right: 10px;min-width: 200px;"
        >{{alertText}}</v-alert>
        <!-- footer -->
        <v-row justify="center" class="grey lighten-3">
          <div class=" indexDiv px-sm-6 pb-sm-0 pt-2 pt-sm-0  rounded-lg">
            <v-row>
              <v-col cols="12" sm="6" class="pa-0 pa-sm-3">
                <v-row class="caption grey--text text--darken-3" style="font-family: Byekan !important;">آدرس:ضلع شمال غربی میدان آرژانتین، ساختمان بانک تجارت، شماره 18</v-row>
                <v-row class="caption grey--text text--darken-3" style="font-family: Byekan !important;">شماره تماس:41889-021</v-row>
                <v-row class=" mt-2 mt-md-12">
                  <v-col cols="5" sm="12" md="6" class="pa-0 pa-sm-3 pb-sm-0">
                    <h4>درباره هتل آهوان</h4>
                    <ul class="mr-4 mr-md-2 my-2">
                      <li class=" my-2 my-sm-4 caption" style="font-family: Byekan !important;">تماس با ما</li>
                      <li class=" my-2 my-sm-4 caption" style="font-family: Byekan !important;">درباره ما</li>
                      <li class=" my-2 my-sm-4 caption" style="font-family: Byekan !important;">سوالات متداول</li>
                      <li class=" my-2 my-sm-4 caption" style="font-family: Byekan !important;">فرصت‌های شغلی</li>
                      <li class=" my-2 my-sm-4 caption" style="font-family: Byekan !important;">شرایط قوانین</li>
                      <li class=" my-2 my-sm-4 caption" style="font-family: Byekan !important;">حقوق مسافرین</li>
                    </ul>
                  </v-col>
                  <v-col cols="7" sm="12" md="6" class="pa-0 pa-sm-3">
                    <h4>پیشنهادات آهوان</h4>
                    <ul class="mr-4 mr-md-2 my-2">
                      <li class=" my-2 my-sm-4 caption" style="font-family: Byekan !important;">تورهای ویژه آهوان</li>
                      <li class=" my-2 my-sm-4 caption" style="font-family: Byekan !important;">هتل‌های ویژه آهوان</li>
                      <li class=" my-2 my-sm-4 caption" style="font-family: Byekan !important;">پروازهای ویژه آهوان</li>
                      <li class=" my-2 my-sm-4 caption" style="font-family: Byekan !important;">پرفروشترین تورهای داخلی</li>
                      <li class=" my-2 my-sm-4 caption" style="font-family: Byekan !important;">پرفروشترین تورهای خارجی</li>
                      <li class=" my-2 my-sm-4 caption" style="font-family: Byekan !important;">پرفروشترین هتل‌های داخلی</li>
                      <li class=" my-2 my-sm-4 caption" style="font-family: Byekan !important;">پرفروشترین هتل‌های خارجی</li>
                    </ul>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12" sm="6">
                <v-row class="justify-center justify-sm-end">
                  <v-icon class="mx-1" color="grey">mdi-whatsapp</v-icon>
                  <v-icon class="mx-1" color="grey">mdi-email-outline</v-icon>
                  <v-icon class="mx-1" color="grey">mdi-instagram</v-icon>
                  <v-icon class="mx-1" color="grey">mdi-twitter</v-icon>
                  <v-icon class="mx-1" color="grey" style="transform: rotate(-36deg);">mdi-send</v-icon>
                </v-row>
                <div class="widthAll mt-3" style="height:1px;background:linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(208,208,208,0.6026785714285714) 63%, rgba(205,205,205,1) 100%)"></div>
                <v-row>
                  <p class="body-2 text-justify grey--text text--darken-1 my-6" style="font-family: Byekan !important;line-height:25px">
                    آهوان با ارائه بهترین و با کیفیت ترین خدمات گردشگری به صورت آنلاین 
                    میکوشد تا بعنوان معتبرترین شرکت گردشگری در ایران تجربه لذت بخش یک رزرو 
                    اینترنتی را برایتان تداعی کند.
                  </p>
                </v-row>
                <v-row justify="center" class="footerImagesParent">
                  <a referrerpolicy="origin" target="_blank" href="https://trustseal.enamad.ir/?id=73832&amp;Code=v3MxZxRYBX3uIkiwT158">
                    <img class="mx-2 mx-md-4" src="/folders/image/logo (1).png"></img>
                  </a>
                  <a referrerpolicy="origin" target="_blank" href="https://trustseal.enamad.ir/?id=73832&amp;Code=v3MxZxRYBX3uIkiwT158">
                    <img class="mx-2 mx-md-4" src="/folders/image/logo.png"></img>
                  </a>
                  <a target="_blank" href="https://www.cao.ir/">
                    <img class="mx-2 mx-md-4" src="/folders/image/cao.png"></img>
                  </a>
                  <a target="_blank" href="http://www.aira.ir/">
                    <img class="mx-2 mx-md-4" src="/folders/image/lohoaira.png"></img>
                  </a>
                  <a target="_blank" href="https://www.cao.ir/paxrights">
                    <img class="mx-2 mx-md-4" src="/folders/image/Passenger.png"></img>
                  </a>
                </v-row>
                
              </v-col>
            </v-row>
          </div>
        </v-row>
      </v-app>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <!-- import component slides -->
    <script src="/folders/js/tour/europ.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="/folders/dist/mds.bs.datetimepicker.style.css" rel="stylesheet"/>
    <script src="/folders/dist/mds.bs.datetimepicker.js"></script>
    <script
      src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"
      integrity="sha256-HmfY28yh9v2U4HfIXC+0D6HCdWyZI42qjaiCFEJgpo0="
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="/folders/slick/slick.min.js"></script>

  </body>
</html>
